@page "/products/insight"

@using System.Globalization

@inject ApiExtensions api
@inject NavigationManager nav
@inject ShowDialog ShowDialog
@inject VariablesExtensions app
@inject IJSRuntime js


@if(sales is null || loading)
{
    <Loading Message="Carregando Insights..."></Loading>
}
else if(sales.Count == 0)
{
    <MudAlert Severity="Severity.Warning">Não há insights disponíveis.</MudAlert>
}
else
{
    <MudPaper Width="70%" Class="doc-section-component-container; mt-3">
        <MudText Typo="Typo.h6" Align="Align.Center" Class="mb-2">Total Vendido (R$)</MudText>
        <MudChart ChartType="ChartType.Line" ChartSeries="@totalSalesSeries" XAxisLabels="@totalSalesXAxis" Width="100%" />
    </MudPaper>

    <MudPaper Width="70%" Height="500px" Class="pa-4; mt-3">
        <MudText Typo="Typo.h6" Align="Align.Center" Class="mb-2">Participação das vendas (%)</MudText>
        <MudChart Width="100%" ChartType="ChartType.Pie" InputData="@top5TotalSaled.ToArray()"  InputLabels="@top5Labels.ToArray()" />
    </MudPaper>

    <MudPaper Class="doc-section-component-container; mt-10" Style="width:650px; border:2px solid var(--mud-palette-lines-default); border-radius:8px;">
        <div style="display:flex; flex-direction:column; gap:12px; max-height:400px; overflow:auto;">
            @foreach (var msg in chatMessages)
            {
                <MudChat ChatPosition="@msg.Position">
                    <MudAvatar Style="background-color:transparent">
                        @if (msg.IsUser)
                        {
                            <MudIcon Icon="@Icons.Material.Outlined.Person" Color="Color.Info"/>
                        }
                        else
                        {
                            <MudIcon Icon="@Icons.Material.Outlined.Android" Style="color:green;" />
                        }
                    </MudAvatar>

                    <MudChatBubble>
                        <MudText Style="white-space: pre-line;">
                            @msg.Text.Replace("* **", "-").Replace("**", "")
                        </MudText>
                    </MudChatBubble>
                </MudChat>
            }
        </div>
    </MudPaper>

    if (loadingReport)
    {
        <MudImage Fluid="true" Width="50" Height="50" Src="images/loading.gif" Alt="Swedish Farm House" Class="rounded-lg" />
    }

    <div style="display:flex; align-items:center; gap:8px; width:650px;" class="mt-3">
        <MudTextField @bind-Value="currentInput"
                      Placeholder="Digite sua mensagem..."
                      Variant="Variant.Outlined"
                      FullWidth
                      Lines="1"
                      OnKeyDown="HandleKeyDown"/>

        <MudIconButton OnClick="SendMessage" Icon="@Icons.Material.Filled.Send" Variant="Variant.Filled" Color="Color.Info" Class="mt-2" />
    </div>

    <div class="mt-2">
        <MudButton OnClick="ExportPdf" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.PictureAsPdf" Color="Color.Error">PDF</MudButton>
        <MudButton OnClick="ExportExcel" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Archive" Color="Color.Success">Excel</MudButton>
    </div>
}

@code {
    #region Properties

    List<SaleVO>? sales = new();

    bool loading = false;
    bool loadingReport = false;

    //Total sales chart
    private List<ChartSeries> totalSalesSeries = new List<ChartSeries>();
    private string[] totalSalesXAxis = { };

    //Best-selling montlhy chart
    private List<double> top5TotalSaled;
    private List<string> top5Labels;

    //Chat
    private List<ChatMessage> chatMessages = new();
    private string currentInput = "";

    private AxisChartOptions _axisOptions = new AxisChartOptions
    {
        XAxisLabelRotation = -100,
        MatchBoundsToSize = true
    };
    #endregion

    #region Events

    protected override async Task OnInitializedAsync()
    {
        loading = true;

        if (app.Sales is null || app.Sales.Count() == 0)
            sales = await api.Get<SaleVO>();
        else
            sales = app.Sales;

        if (sales is null)
            return;

        //Total sales
        var totalSales = sales
            .Where(s => s.DateSale.Year.Equals(DateTime.Now.Year))
            .GroupBy(s => new { s.DateSale.Year, s.DateSale.Month })
            .OrderBy(g => g.Key.Year)
            .ThenBy(g => g.Key.Month)
            .ToList();

        totalSalesXAxis = totalSales
            .Select(g => new DateTime(g.Key.Year, g.Key.Month, 1)
            .ToString("MMM", new CultureInfo("pt-BR")))
            .ToArray();

        var totalSalesMonthly = totalSales
            .Select(g => g.Sum(x => (double)x.SaleTotal))
            .ToArray();

        totalSalesSeries = new List<ChartSeries>()
        {
            new ChartSeries()
            {
                Name = "Vendas",
                Data = totalSalesMonthly
            }
        };

        //mostSaledMonth
        var totalSaled = sales.Where(x => x.DateSale.Year == DateTime.Now.Year && x.DateSale.Month == DateTime.Now.Month).Sum(x => x.SaleTotal);

        var salesByProduct = sales
            .Where(x => x.DateSale.Year == DateTime.Now.Year && x.DateSale.Month == DateTime.Now.Month)
            .GroupBy(x => x.ProductName)
            .Select(g => new
            {
                Product = g.Key,
                Total = g.Sum(x => x.SaleTotal)
            })
            .OrderByDescending(x => x.Total)
            .ToList();

        var top5Saled = salesByProduct.Take(5).ToList();

        top5TotalSaled = top5Saled
            .Select(x => Math.Round((double)((x.Total / totalSaled) * 100), 2))
            .ToList();

        top5Labels = top5Saled
            .Select(x => x.Product)
            .ToList();

        var othersTotal = salesByProduct
            .Skip(5)
            .Sum(x => (double)x.Total);

        if (othersTotal > 0)
        {
            var total = Math.Round((othersTotal / (double)totalSaled) * 100, 2);

            top5TotalSaled.Add(othersTotal);
            top5Labels.Add("Outros");
        }

        chatMessages.Add(new ChatMessage { Text = "Olá, como posso ajudar?", IsUser = false });

        loading = false;
    }

    private async void HandleKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await SendMessage();
        }
    }

    #endregion

    #region Methods

    private async Task SendMessage()
    {
        if (string.IsNullOrWhiteSpace(currentInput))
            return;

        chatMessages.Add(new ChatMessage { Text = currentInput, IsUser = true });

        if(sales is not null)
        {
            loadingReport = true;

            var aiResponse = await api.PostAnalyseAI($"Apenas texto, não utilize tabelas e separe em tópicos somente se necessário. {currentInput}");

            chatMessages.Add(new ChatMessage { Text = aiResponse ?? "", IsUser = false });

            currentInput = "";

            loadingReport = false;
        }
        else
        {
            chatMessages.Add(new ChatMessage { Text = "Desculpe-me, não há vendas para serem analisadas.", IsUser = false });
        }  
    }

    private async Task ExportExcel()
    {
        try
        {
            loadingReport = true;

            var report = await api.GetSalesReport(FileTypes.Excel);

            await js.InvokeVoidAsync(
                "downloadFile",
                $"Vendas {DateTime.Now.Month}-{DateTime.Now.Year}.xlsx",
                "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                report
            );

            loadingReport = false;
        }
        catch (ApiException ex)
        {
            await ShowDialog.ShowDialogAsync($"Erro gerando o Excel.\n{ex.Message}", "Erro", state: EDialogStates.Warning);
        }
    }

    private async Task ExportPdf()
    {
        try
        {
            loadingReport = true;

            var report = await api.GetSalesReport(FileTypes.PDF);

            await js.InvokeVoidAsync(
                "downloadFile",
                $"Vendas {DateTime.Now.Month}-{DateTime.Now.Year}.pdf",
                "application/pdf",
                report
            );

            loadingReport = false;
        }
        catch (ApiException ex)
        {
            await ShowDialog.ShowDialogAsync($"Erro gerando o PDF.\n{ex.Message}", "Erro", state: EDialogStates.Warning);
        }  
    }

    #endregion
    
}
