@page "/products/insight"

@using System.Globalization
@using System.Threading.Tasks
@using Google.GenAI
@using Google.GenAI.Types

@inject ApiExtensions api
@inject NavigationManager nav
@inject ShowDialog ShowDialog
@inject VariablesExtensions app

@if(sales is null || loading)
{
    <Loading Message="Carregando Insights..."></Loading>
}
else if(sales.Count == 0)
{
    <MudAlert Severity="Severity.Warning">Não há insights disponíveis.</MudAlert>
}
else
{
    <div style="display: flex; gap: 8px; width: 1308px;" class="mt-3">
        <MudPaper Style="width:650px; padding:16px; box-sizing:border-box;">
            <MudText Typo="Typo.h6" Align="Align.Center" Class="mb-2">Total Vendido (R$)</MudText>
            <MudChart ChartType="ChartType.Line" ChartSeries="@totalSalesSeries" XAxisLabels="@totalSalesXAxis" Width="100%" Height="350px" />
        </MudPaper>

        <MudPaper Style="width:650px; padding:16px; box-sizing:border-box;">
            <MudText Typo="Typo.h6" Align="Align.Center" Class="mb-2">Os Mais Vendidos</MudText>
            <MudChart ChartType="ChartType.Bar" ChartSeries="@bestSellingSeries" XAxisLabels="@bestSellingXAxis" Width="100%" Height="350px" />
        </MudPaper>
    </div>

    <MudPaper Class="doc-section-component-container; mt-10" Style="width:650px; border:2px solid var(--mud-palette-lines-default); border-radius:8px;">
        <div style="display:flex; flex-direction:column; gap:12px; max-height:400px; overflow:auto;">
            @foreach (var msg in chatMessages)
            {
                <MudChat ChatPosition="@msg.Position">
                    <MudAvatar Style="background-color:transparent">
                        @if (msg.IsUser)
                        {
                            <MudIcon Icon="@Icons.Material.Outlined.Person" Color="Color.Info"/>
                        }
                        else
                        {
                            <MudIcon Icon="@Icons.Material.Outlined.Android" Style="color:green;" />
                        }
                    </MudAvatar>

                    <MudChatBubble>
                        @msg.Text
                    </MudChatBubble>
                </MudChat>
            }
        </div>
    </MudPaper>

    <div style="display:flex; flex-direction:column; gap:12px; width:650px; max-height:400px; overflow:auto;">
        <MudTextField @bind-Value="currentInput"
                      Placeholder="Digite sua mensagem..."
                      Variant="Variant.Outlined"
                      FullWidth
                      Lines="1"
                      Class="mt-3" />
    </div>
    
    <MudButton OnClick="SendMessage" Variant="Variant.Filled" Color="Color.Info" Class="mt-2">
        Enviar
    </MudButton>
}

@code {
    #region Properties

    List<SaleVO>? sales = new();

    bool loading = false;

    private int _index = -1;

    //Total sales chart
    private List<ChartSeries> totalSalesSeries = new List<ChartSeries>();
    private string[] totalSalesXAxis = { };

    //Best-selling montlhy chart
    private List<ChartSeries> bestSellingSeries = new List<ChartSeries>();
    private string[] bestSellingXAxis = { };

    //Chat
    private List<ChatMessage> chatMessages = new();

    private string currentInput = "";

    #endregion

    #region Events

    protected override async Task OnInitializedAsync()
    {
        loading = true;

        if (app.Sales is null || app.Sales.Count() == 0)
            sales = await api.Get<SaleVO>();
        else
            sales = app.Sales;

        if (sales is null)
            return;

        //Total sales
        var totalSales = sales
            .Where(s => s.DateSale.Year.Equals(DateTime.Now.Year))
            .GroupBy(s => new { s.DateSale.Year, s.DateSale.Month })
            .OrderBy(g => g.Key.Year)
            .ThenBy(g => g.Key.Month)
            .ToList();

        totalSalesXAxis = totalSales
            .Select(g => new DateTime(g.Key.Year, g.Key.Month, 1)
            .ToString("MMM", new CultureInfo("pt-BR")))
            .ToArray();

        var totalSalesMonthly = totalSales
            .Select(g => g.Sum(x => (double)x.SaleTotal))
            .ToArray();

        totalSalesSeries = new List<ChartSeries>()
        {
            new ChartSeries()
            {
                Name = "Vendas",
                Data = totalSalesMonthly
            }
        };

        //Best-selling montlhy
        var bestSellersPerMonth = sales
            .Where(s => s.DateSale.Year == DateTime.Now.Year)
            .GroupBy(s => s.DateSale.Month)
            .Select(monthGroup => new
            {
                Month = monthGroup.Key,
                TopProducts = monthGroup
                    .GroupBy(s => s.ProductName)
                    .Select(g => new
                    {
                        ProductName = g.Key,
                        TotalSales = g.Sum(x => x.SaleTotal)
                    })
                    .OrderByDescending(x => x.TotalSales)
                    .Take(5)
                    .ToList()
            })
            .OrderBy(x => x.Month)
            .ToList();

        bestSellingXAxis = bestSellersPerMonth
            .Select(m => new DateTime(DateTime.Now.Year, m.Month, 1).ToString("MMMM"))
            .ToArray();

        var productNames = bestSellersPerMonth
            .SelectMany(m => m.TopProducts.Select(p => p.ProductName))
            .Distinct()
            .ToList();

        bestSellingSeries = productNames
            .Select(product => new ChartSeries
            {
                Name = product ?? "",
                Data = bestSellersPerMonth
                    .Select(m => (double)(m.TopProducts.FirstOrDefault(p => p.ProductName == product)?.TotalSales ?? 0))
                    .ToArray()
            })
            .ToList();

        chatMessages.Add(new ChatMessage { Text = "Olá, tudo bem? Me faça uma pergunta!", IsUser = false });

        loading = false;
    }

    #endregion

    #region Methods

    private async Task SendMessage()
    {
        if (string.IsNullOrWhiteSpace(currentInput))
            return;

        chatMessages.Add(new ChatMessage { Text = currentInput, IsUser = true });

        var prompt = currentInput;
        currentInput = "";

        var aiResponse = await AIRequest(prompt);

        chatMessages.Add(new ChatMessage { Text = aiResponse, IsUser = false });
    }

    private async Task<string> AIRequest(string text)
    {
        var client = new Client(apiKey: "AIzaSyDq9Ulayewm2GLlJzeEOYnLX_uTRwNvsg4");

        var response = await client.Models.GenerateContentAsync(
          model: "gemini-2.5-flash", contents: text
        );

        return response?.Candidates?[0]?.Content?.Parts?[0]?.Text?.Replace("**", System.Environment.NewLine) ?? "";
    }

    #endregion
    
}
