@page "/product"
@using System.Text

@inject ApiExtensions api
@inject NavigationManager nav
@inject VariablesExtensions app
@inject ShowDialog ShowDialog

<MudButton Class="m-2" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="Color.Tertiary" Href="product/insert">Adicionar novo produto</MudButton>

@if(products is null || loading)
{
    <Loading></Loading>
}
else if(products.Count == 0)
{
    <MudAlert Severity="Severity.Warning">Não há produtos registrados no banco de dados.</MudAlert>
}
else
{
    <div style="display: flex; flex-wrap: wrap;">
        @foreach (var product in products)
        {
            <div style="margin: 10px">
                <MudCard Class="card-hover" Style="width: 300px;">
                    <MudCardMedia Image=@ProcessImage(product) Height="200" />
                    <MudCardContent>
                        <MudText Typo="Typo.h5">@product.Name</MudText>
                        <MudText Typo="Typo.body2">@product.Descricao</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Class="m-2" Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Edit" Color="Color.Success" OnClick="() => Edit(product.Id)">Editar</MudButton>
                        <MudButton Class="m-2" Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="() => Delete(product.Id)">Excluír</MudButton>
                    </MudCardActions>
                </MudCard>
            </div>
        }
    </div>
}

@code {

    #region Properties

    List<ProductVO>? products;
    bool loading = false;

    #endregion

    #region Events

    protected override async Task OnInitializedAsync()
    {
        await GetProducts();
    }

    #endregion

    #region Methods

    private void Edit(int productId)
    {
        app.ActualProduct = products.FirstOrDefault(p => p.Id.Equals(productId));

        nav.NavigateTo($"product/edit/{productId}");
    }

    private async Task Delete(int productId)
    {
        try
        {
            var dialogConfirmmation = await ShowDialog.ShowDialogAsync("Tem certeza que deseja deletar o produto?.", "Confirmação", state: EDialogStates.Error, showCancel: true, showYes: true);

            if (dialogConfirmmation)
            {
                loading = true;

                StateHasChanged();

                var result = await api.Delete<ProductVO>(productId);

                await GetProducts();

                await ShowDialog.ShowDialogAsync("Produto deletado com sucesso.", "Sucesso", "product", EDialogStates.Success);

                loading = false;
            }
        }
        catch (ApiException ex)
        {
            loading = false;

            await ShowDialog.ShowDialogAsync($"Erro deletando produto.\n{ex.Message}", "Erro", state: EDialogStates.Warning);
        }
    }

    private async Task GetProducts()
    {
        products = await api.Get<ProductVO>();
    }

    private string ProcessImage(ProductVO product)
    {
        if (product.ProImage is null)
            return app.DefaultImage;

        string contentType = string.Empty;

        if (product.ProImage[0] == 0xFF && product.ProImage[1] == 0xD8)
            contentType = "jpeg";

        if (product.ProImage[0] == 0x89 && product.ProImage[1] == 0x50)
            contentType = "png";

        var base64 = Convert.ToBase64String(product.ProImage);
        return $"data:image/{contentType};base64,{base64}";
    }

    #endregion
  
}