@page "/product"
@using System.Text

@inject ApiExtensions api
@inject NavigationManager nav
@inject VariablesExtensions app
@inject ShowDialog ShowDialog

@if(products is null || loading)
{
    <Loading></Loading>
}
else if(products.Count == 0)
{
    <MudAlert Severity="Severity.Warning">Não há produtos registrados no banco de dados.</MudAlert>
}
else
{
    <MudButton Class="m-2" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="Color.Tertiary">Adicionar novo produto</MudButton>

    foreach(var product in products)
    {
        <div style="margin: 10px">
            <MudCard Class="card-hover" Style="width: 300px;">
                <MudCardMedia Image=@Encoding.UTF8.GetString(product.ProImage) Height="200" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">@product.Name</MudText>
                    <MudText Typo="Typo.body2">@product.Descricao</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Class="m-2" Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Edit" Color="Color.Success" OnClick="() => Edit(product.Id)">Editar</MudButton>
                    <MudButton Class="m-2" Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="() => Delete(product.Id)">Excluír</MudButton>
                </MudCardActions>
            </MudCard>
        </div>
    }
}



@code {
    List<ProductVO>? products;
    bool loading = false;

    protected override async Task OnInitializedAsync()
    {
        products = await api.Get<ProductVO>();
    }

    private void Edit(int productId)
    {
        app.ActualProduct = products.FirstOrDefault(p => p.Id.Equals(productId));

        nav.NavigateTo($"product/edit/{productId}");
    }

    private async void Delete(int productId)
    {
        try
        {
            var dialog = await ShowDialog.ShowDialogAsync("Tem certeza que deseja deletar o produto?.", "Confirmação", state: EDialogStates.Error, showCancel: true, showYes: true);

            if (dialog)
            {
                loading = true;

                var result = await api.Delete<ProductVO>(productId);

                loading = false;

                await ShowDialog.ShowDialogAsync("Produto deletado com sucesso.", "Sucesso", "product", EDialogStates.Success);
            }
            
        }
        catch (ApiException ex)
        {
            loading = false;

            await ShowDialog.ShowDialogAsync($"Erro deletando produto.\n{ex.Message}", "Erro", state: EDialogStates.Warning);
        }
    }

}